/*valori universali*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*font family*/
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* body bg color */
body{
    background-color: lightgrey;
}
/*caratteristiche header*/
header{
    background-color: white;
    padding: 10px 5px;
    margin-bottom: 30px;
}
/*caratteristiche generali container*/
.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    background-color: white;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*caratteristiche generali bottoni*/
.btn{
    text-decoration: none;
    border: 1px solid;
    padding: 4px 7px;
    border-radius: 5px;
}
/*bottone blu*/
#blue-bg{
    background-color: #14AAF5;
    color: white;
    border-color: #14AAF5;
}
/*bottone bianco*/
#white-bg{
    background-color: white;
    border-color: lightgrey;
    color: lightgrey;

}
