*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding-bottom: 30px;
}
body{
    background-color: lightgrey;
}

.container{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    
}
.btn{
    text-decoration: none;
    border: 1px solid;
    padding: 3px;
    border-radius: 10px;
}
.blue-bg{
    background-color: lightskyblue;
}
