/*valori universali*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*commons*/
html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F6F8F9;
}

header{
    background-color: white;
    padding: 5px 5px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight:800;
    padding-left: 15px;
}

h2{
    font-size: 16px;
    color: #434851;
}

p{
    font-size: 13px;
    padding: 7px;
    color: #5F646B;
}
.circle{
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 15px;
    height: 15px;
    font-size: 9px;
    font-weight: bolder;
}
.circle-btn{
    border: 1px solid;
    padding: 4px 7px;
    border-radius: 12px;
    font-size: 10px;
}
/*containers*/
.container1{
width: 70%;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 2px;
background-color: white;
padding-left: 40px;
padding-top: 10px;
padding-bottom: 10px;
}
.container2{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: white;
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 0px;
}
.container3{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: white;
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 18px;
}
/*caratteristiche generali bottoni*/
.btn{
    border: 1px solid;
    padding: 4px 7px;
    border-radius: 5px;
}
/*backgroung buttons*/
#blue-bg{
    background-color: #14AAF5;
    border-color: #14AAF5;
    color: white;
}
#violet-bg{
    background-color: #AB5DE6;
    border-color: #AB5DE6;
    color: white;
}
#white-bg{
    background-color: white;
    border-color: lightgrey;
    color: lightgrey;
}
#green-bg{
    background-color: #2CC6AB;
    border-color: #2CC6AB;
    color: white;
}
#orange-bg{
    background-color: #FF9B00;
    border-color: #FF9B00;
    color: white;
}
#pink-bg{
    background-color: #EC4A9D;
    border-color: #EC4A9D;
    color: white;
}
#green2-bg{
    background-color: #A3D117;
    border-color: #A3D117;
    color: white;
}
#blue2-bg{
    background-color: #0AA9ED;
    border-color: #0AA9ED;
    color: white;
}
/*check and cross*/
#check{
    color: green;
    border: 1px solid green;
}
#cross{
    color: red;
    border: 1px solid red;
}
